@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #64748B;
}

@theme{
 --color-*: initial;
  --color-heading: #1F2937;
  --color-brand: #244D3F;
  --color-due: #EFAD44;
  --color-batch:#CBFADB;
  --color-overdue: #EF4444;
  --color-track: #244D3F;
  --color-copywriter: #FAFAFA;
}
